@import url('https://fonts.googleapis.com/css?family=Rajdhani:300');

.aboutContainer {
    margin: auto;
    font-size: 20px;
    width: 50%;
    text-align: center;
}

.headshot {
    margin-top: 5%;
    border-radius: 50%;
    width: 25%;
    border: 3px solid black;
}

.socialIcon {
    width: 5%;
    margin: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.connectContainer {
    margin-bottom: 2%;
}

h2 {
    border-bottom: 1px solid black;
    width: 25%;
    margin: auto;
    margin-bottom: 2%;
}

.myStory {
    text-align: center;
}

@media (max-width: 1000px) {
    .headshot {
        border: 1px solid black;
    }
    .aboutContainer {
        width: 95%;
        font-size: 15px;
    }
    h2 {
        font-size: 25px;
    }
}

@media (max-width: 400px) {
    .myStory {
    text-align: center;
    font-size: 12px;

    
    }
}