@import url('https://fonts.googleapis.com/css?family=Nunito:700');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
  
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.headName {
    color: white;
    font-family: 'Nunito', sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    text-shadow: 2px 2px 4px #000000;
}

.headerContainer {
    background: linear-gradient(to right, #41dcf4, #41f4f4, #c7f3f9);
}

header {
    display: flex;
    justify-content: space-between;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 2px #000000;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

.socials {
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 3%;
}

.socialIcon {
    width: 50px;
    padding-left: 25%;
}
