.projectContainer {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.projectContainer h1 {
    font-size: 50px;
    border-bottom: 1px solid black;
    width: 35%;
    margin: auto;
}

.bigProjContainer {
    display: flex;
    width: 50%;
    margin: auto;
    flex-wrap: wrap;
}

.projContainer {
    border-bottom: 1px solid black;
    width: 50%;
    word-wrap: wrap;
}

.projContainer h1 {
    text-align: center;
    margin-top: 4%;
    padding-bottom: 4%;
}

.iosAppContainer {
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    border: 1px solid black;
}

.webAppContainer {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    border: 1px solid black;
}

.projContainer p {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 25px;
}

.projContainer2 {
    border-bottom: 1px solid black;
    width: 50%;
    word-wrap: wrap;
}

.projContainer2 h1 {
    text-align: center;
    margin-top: 4%;
    padding-bottom: 4%;
}

.skeuContainer {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    border: 1px solid black;
}

.slackerContainer {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    border: 1px solid black;
}

.projContainer2 p {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 25px;
}

.projContainer3 {
    border-bottom: 1px solid black;
    width: 50%;
    margin: auto;
    margin-bottom: 5%;
    word-wrap: wrap;
}

.projContainer3 h1 {
    text-align: center;
    margin-top: 4%;
    padding-bottom: 4%;
}

.jsClockContainer {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    border: 1px solid black;
}

.projContainer3 p {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 25px;
}

.gitHubContainer {
    width: 15%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3%;
}