body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* background-color: aliceblue; */
    background-image: url("http://climaxstudios.net/photos/climaxstudios/87/430955.jpg");
    background-size: cover;
    color: white;
    font-family: 'Rajdhani', sans-serif;
}
  
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}